Call CSV file

In [23]:
import pandas as pd
import numpy as np
url1 = 'https://raw.githubusercontent.com/TheLazyCactus/Data_Thieves_project/refs/heads/main/Cat%20Scraped.csv'
url2 = 'https://raw.githubusercontent.com/TheLazyCactus/Data_Thieves_project/refs/heads/main/Dog%20Scraped.csv'
url3 = 'https://raw.githubusercontent.com/TheLazyCactus/Data_Thieves_project/refs/heads/main/retirement_homes_df.csv'
url4 = 'https://raw.githubusercontent.com/TheLazyCactus/Data_Thieves_project/refs/heads/main/schools_df.csv'
cat_data = pd.read_csv(url1, sep=",", low_memory =False)
dog_data = pd.read_csv(url2, sep=",", low_memory =False)
retirement_data = pd.read_csv(url3, sep=",", low_memory =False)
school_data = pd.read_csv(url4, sep=",", low_memory =False)

Dict creation of place/location

In [24]:
retirement_data.head

<bound method NDFrame.head of                                                  name  place_id  rating  \
0   South Bay Senior Living,ChIJ08bl33o13YARie9dW9...       NaN     NaN
1   The Gardens at Park Balboa,ChIJOaR2Bz6XwoARPxT...       NaN     NaN
2   Royal Oaks,ChIJaYJWB_3YwoARCpPku9eJq9s,4.1,"['...       NaN     NaN
3   Claremont Place,ChIJEX3H5vIxw4ARPSXaEvCe8FU,4....       NaN     NaN
4   Atria Covina,ChIJ_SaeGj4ow4ARRPT6OJ3R7xM,5.0,"...       NaN     NaN
5   The Watermark at Beverly Hills,ChIJKWnsyVO5woA...       NaN     NaN
6   Solheim Senior Community,ChIJf_cFvWfBwoARTew3s...       NaN     NaN
7   Brookdale Santa Monica Gardens,ChIJKVovmMCkwoA...       NaN     NaN
8   Pacifica Senior Living Santa Clarita,ChIJ3fU4_...       NaN     NaN
9   Carmel Village,ChIJO691vhMn3YARro8IMyF62NM,4.5...       NaN     NaN
10  Atria Golden Creek,ChIJxW9V9q_d3IARWMGD8wDj20c...       NaN     NaN
11  Brookdale Ocean House,ChIJq7XG9CqlwoAR6iWzCjrB...       NaN     NaN
12  The Variel of Woodland Hills,ChIJ-cYACCufwoARy...       NaN     NaN
13  The Oaks of Pasadena,ChIJ13qg7l3bwoAREJEk7VxgS...       NaN     NaN
14  Rowntree Gardens,ChIJ6bckp-0o3YARvmnSsJ2sQJM,4...       NaN     NaN
15  Atria Newport Beach,ChIJE2Vf0Koh3YARnEjK8M0shy...       NaN     NaN
16  Regents Point,ChIJsdqJegre3IARH1NL08pmkC0,4.3,...       NaN     NaN
17  Clearwater at South Bay,ChIJE-BTH9lK3YAROL6WL4...       NaN     NaN
18  Atria Tarzana,ChIJlwFyramZwoARCsrLX5nTNhg,4.9,...       NaN     NaN
19  Brookdale Uptown Whittier,ChIJFePr9ezTwoARINA2...       NaN     NaN

    types  vicinity  plus_code_compound_code  phone_number  opening_time  \
0     NaN       NaN                      NaN           NaN           NaN
1     NaN       NaN                      NaN           NaN           NaN
2     NaN       NaN                      NaN           NaN           NaN
3     NaN       NaN                      NaN           NaN           NaN
4     NaN       NaN                      NaN           NaN           NaN
5     NaN       NaN                      NaN           NaN           NaN
6     NaN       NaN                      NaN           NaN           NaN
7     NaN       NaN                      NaN           NaN           NaN
8     NaN       NaN                      NaN           NaN           NaN
9     NaN       NaN                      NaN           NaN           NaN
10    NaN       NaN                      NaN           NaN           NaN
11    NaN       NaN                      NaN           NaN           NaN
12    NaN       NaN                      NaN           NaN           NaN
13    NaN       NaN                      NaN           NaN           NaN
14    NaN       NaN                      NaN           NaN           NaN
15    NaN       NaN                      NaN           NaN           NaN
16    NaN       NaN                      NaN           NaN           NaN
17    NaN       NaN                      NaN           NaN           NaN
18    NaN       NaN                      NaN           NaN           NaN
19    NaN       NaN                      NaN           NaN           NaN

    closing_time
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN  >

In [25]:
retirement_data = retirement_data["name"].str.split(",", expand=True)
retirement_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,South Bay Senior Living,ChIJ08bl33o13YARie9dW9iUzNo,5.0,"""['point_of_interest'",'health',"'establishment']""","""22711 S Vermont Ave","Torrance""","""RP95+MM Torrance",California,"USA""",(310) 320-3318,8:00â€¯AM,5:30â€¯PM,None,None
1,The Gardens at Park Balboa,ChIJOaR2Bz6XwoARPxTcthfjnyc,4.7,"""['point_of_interest'",'health',"'establishment']""","""7046 Kester Ave","Van Nuys""","""5GXV+G6 Van Nuys",Los Angeles,CA,"USA""",(818) 787-0462,7:00â€¯AM,8:30â€¯PM,None
2,Royal Oaks,ChIJaYJWB_3YwoARCpPku9eJq9s,4.1,"""['point_of_interest'",'health',"'establishment']""","""1763 Royal Oaks Dr N","Duarte""","""42VM+H4 Duarte",California,"USA""",(626) 359-9371,N/A,N/A,None,None
3,Claremont Place,ChIJEX3H5vIxw4ARPSXaEvCe8FU,4.5,"""['point_of_interest'",'health',"'establishment']""","""120 W San Jose Ave","Claremont""","""37JM+XR Claremont",California,"USA""",(909) 480-8616,N/A,N/A,None,None
4,Atria Covina,ChIJ_SaeGj4ow4ARRPT6OJ3R7xM,5.0,"""['point_of_interest'",'health',"'establishment']""","""825 W San Bernardino Rd","Covina""","""33QV+R9 Covina",California,"USA""",(626) 967-9621,7:00â€¯AM,8:00â€¯PM,None,None

In [26]:

retirement_location = retirement_data[[0, 6]]
retirement_location.head()

                            0                         6
0     South Bay Senior Living      "22711 S Vermont Ave
1  The Gardens at Park Balboa          "7046 Kester Ave
2                  Royal Oaks     "1763 Royal Oaks Dr N
3             Claremont Place       "120 W San Jose Ave
4                Atria Covina  "825 W San Bernardino Rd

In [30]:
retirement_location.columns = ['Name', 'Address']
retirement_location

                                    Name                   Address
0                South Bay Senior Living      "22711 S Vermont Ave
1             The Gardens at Park Balboa          "7046 Kester Ave
2                             Royal Oaks     "1763 Royal Oaks Dr N
3                        Claremont Place       "120 W San Jose Ave
4                           Atria Covina  "825 W San Bernardino Rd
5         The Watermark at Beverly Hills           "220 N Clark Dr
6               Solheim Senior Community                  'health'
7         Brookdale Santa Monica Gardens               "851 2nd St
8   Pacifica Senior Living Santa Clarita          "24305 Lyons Ave
9                         Carmel Village       "17077 San Mateo St
10                    Atria Golden Creek              "33 Creek Rd
11                 Brookdale Ocean House           "2107 Ocean Ave
12          The Variel of Woodland Hills          "6233 Variel Ave
13                  The Oaks of Pasadena      "2954 E Del Mar Blvd
14                      Rowntree Gardens            "12151 Dale St
15                   Atria Newport Beach          "393 Hospital Rd
16                         Regents Point        "19191 Harvard Ave
17               Clearwater at South Bay      "3210 Sepulveda Blvd
18                         Atria Tarzana        "5325 Etiwanda Ave
19             Brookdale Uptown Whittier    "13250 Philadelphia St

In [ ]:
school_data = school_data["name"].str.split(",", expand=True)

KeyError: 'name'

In [45]:
school_location = school_data[[0, 7]]

In [47]:
school_location.columns = ['Name', 'Address']
school_location

                                         Name                   Address
0                               Valley School        "15700 Sherman Way
1              South Shores Elementary School           "2060 W 35th St
2               61st Street Elementary School       "6020 S Figueroa St
3               North Valley Christian School         'establishment']"
4                           The Wesley School         "4832 Tujunga Ave
5                      Pacoima Charter School         "11016 Norris Ave
6              Short Avenue Elementary School        "12814 Maxella Ave
7               99th Street Elementary School       "9900 Wadsworth Ave
8              Sixth Avenue Elementary School             "3109 6th Ave
9           Van Ness Avenue Elementary School       "501 N Van Ness Ave
10          Country Springs Elementary School  "14145 Village Center Dr
11                  Montvue Elementary School  "1440 San Bernardino Ave
12                Mar Vista Elementary School       "3330 Granville Ave
13                                     School              Los Angeles"
14              Los Angeles Elementary School       "1211 S Hobart Blvd
15                    NEW Academy Canoga Park        "21425 Cohasset St
16                 153rd St Elementary School          "1605 W 153rd St
17          Rosemont Avenue Elementary School         "421 Rosemont Ave
18  New Los Angeles Charter Elementary School          "5753 Obama Blvd
19      Ninety-Sixth Street Elementary School           "1471 E 96th St

Transform dict for place/coordinate

In [40]:
pip install geopy

Note: you may need to restart the kernel to use updated packages.Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   --------- ----------------------------- 30.7/125.4 kB 640.0 kB/s eta 0:00:01
   ---------------------------------------- 125.4/125.4 kB 1.2 MB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB 1.9 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [41]:
from geopy.geocoders import Nominatim

def address_to_coordinates(address):
    """
    Transforms a given address into geographic coordinates (latitude and longitude).
    
    Args:
        address (str): The address to be geocoded.
        
    Returns:
        tuple: A tuple containing latitude and longitude as floats.
               Returns None if the address cannot be geocoded.
    """
    try:
        # Initialize geolocator
        geolocator = Nominatim(user_agent="address_to_coordinates_app")
        # Geocode the address
        location = geolocator.geocode(address)
        if location:
            return location.latitude, location.longitude
        else:
            print("Address not found.")
            return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None


#Output dict1 and dict2

In [43]:
address_to_coordinates('15700 Sherman Way	')

(34.200977, -118.475076)

In [50]:
retirement_location["Coordinate"] = retirement_location["Address"].apply(address_to_coordinates)

An error occurred: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=%22851+2nd+St&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

C:\Users\UTILISATEUR\AppData\Local\Temp\ipykernel_11844\977816449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retirement_location["Coordinate"] = retirement_location["Address"].apply(address_to_coordinates)

In [53]:
school_location["Coordinate"] = school_location["Address"].apply(address_to_coordinates)

C:\Users\UTILISATEUR\AppData\Local\Temp\ipykernel_11844\4280323023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_location["Coordinate"] = school_location["Address"].apply(address_to_coordinates)

In [51]:
retirement_location.head()

,Name,Address,Coordinate
0,South Bay Senior Living,"""22711 S Vermont Ave","(33.81980039129378, -118.29024718790257)"
1,The Gardens at Park Balboa,"""7046 Kester Ave","(34.198698299953975, -118.45735814861803)"
2,Royal Oaks,"""1763 Royal Oaks Dr N","(34.143725758014526, -117.96951756026668)"
3,Claremont Place,"""120 W San Jose Ave","(36.81218283020235, -119.79402756854458)"
4,Atria Covina,"""825 W San Bernardino Rd","(34.0892393025189, -117.90583051345736)"

In [ ]:
school_location.head()

,Name,Address,Coordinate
0,Valley School,"""15700 Sherman Way","(34.200977, -118.475076)"
1,South Shores Elementary School,"""2060 W 35th St","(34.0244853877551, -118.31610893877551)"
2,61st Street Elementary School,"""6020 S Figueroa St","(33.984836102040816, -118.282565)"
3,North Valley Christian School,"'establishment']""","(55.9045867, 37.5504206)"
4,The Wesley School,"""4832 Tujunga Ave","(34.158926, -118.378888)"

Create function to calcuate distance between 2 coordinates

In [ ]:
#selected_address will be the retirement home or school selected by the user
selected_coodinate = address_to_coordinates(selected_address)

In [60]:
selected_coordinate = (34.200977, -118.475076)

In [61]:
from geopy.distance import geodesic
def calculate_distance(coord):
    '''selected coordinate and coord need to be topple of lat, long  '''
    try:
        return geodesic(selected_coordinate, coord).kilometers
    except:
        return None

In [70]:
retirement_location['Distance'] = retirement_location['Coordinate'].apply(calculate_distance)
filtered_retirement = retirement_location[retirement_location['Distance'] < 50]

C:\Users\UTILISATEUR\AppData\Local\Temp\ipykernel_11844\2466912953.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retirement_location['Distance'] = retirement_location['Coordinate'].apply(calculate_distance)

In [69]:
retirement_location

,Name,Address,Coordinate,Distance
0,South Bay Senior Living,"""22711 S Vermont Ave","(33.81980039129378, -118.29024718790257)",45.598085
1,The Gardens at Park Balboa,"""7046 Kester Ave","(34.198698299953975, -118.45735814861803)",1.652463
2,Royal Oaks,"""1763 Royal Oaks Dr N","(34.143725758014526, -117.96951756026668)",47.041951
3,Claremont Place,"""120 W San Jose Ave","(36.81218283020235, -119.79402756854458)",313.440966
4,Atria Covina,"""825 W San Bernardino Rd","(34.0892393025189, -117.90583051345736)",53.943190
5,The Watermark at Beverly Hills,"""220 N Clark Dr","(34.06961926004357, -118.38460635288396)",16.791186
6,Solheim Senior Community,'health',"(34.351765349999994, 47.0737042)",12268.100924
7,Brookdale Santa Monica Gardens,"""851 2nd St",None,12600.502644
8,Pacifica Senior Living Santa Clarita,"""24305 Lyons Ave","(34.378415137509, -118.56307411763869)",21.285073
9,Carmel Village,"""17077 San Mateo St","(33.71498525, -117.95232821686685)",72.391485
10,Atria Golden Creek,"""33 Creek Rd","(33.67518155, -117.79685577373215)",85.632866
11,Brookdale Ocean House,"""2107 Ocean Ave","(-33.652644065287014, 151.31998723526695)",12031.678474
12,The Variel of Woodland Hills,"""6233 Variel Ave","(34.183681586206895, -118.59288265517242)",11.027126
13,The Oaks of Pasadena,"""2954 E Del Mar Blvd","(34.14209548387097, -118.08959112903226)",36.136333
14,Rowntree Gardens,"""12151 Dale St","(42.7414343670534, -73.74047362379943)",3968.412788
15,Atria Newport Beach,"""393 Hospital Rd","(33.62632895, -117.92847305023086)",81.350917
16,Regents Point,"""19191 Harvard Ave","(33.654888299999996, -117.83084706126682)",84.954286
17,Clearwater at South Bay,"""3210 Sepulveda Blvd","(34.132828939491155, -118.47984208050974)",7.572114
18,Atria Tarzana,"""5325 Etiwanda Ave","(34.167148, -118.53090460606062)",6.369333
19,Brookdale Uptown Whittier,"""13250 Philadelphia St","(33.979007, -118.034555)",47.529062

In [71]:
filtered_retirement

,Name,Address,Coordinate,Distance
0,South Bay Senior Living,"""22711 S Vermont Ave","(33.81980039129378, -118.29024718790257)",45.598085
1,The Gardens at Park Balboa,"""7046 Kester Ave","(34.198698299953975, -118.45735814861803)",1.652463
2,Royal Oaks,"""1763 Royal Oaks Dr N","(34.143725758014526, -117.96951756026668)",47.041951
5,The Watermark at Beverly Hills,"""220 N Clark Dr","(34.06961926004357, -118.38460635288396)",16.791186
8,Pacifica Senior Living Santa Clarita,"""24305 Lyons Ave","(34.378415137509, -118.56307411763869)",21.285073
12,The Variel of Woodland Hills,"""6233 Variel Ave","(34.183681586206895, -118.59288265517242)",11.027126
13,The Oaks of Pasadena,"""2954 E Del Mar Blvd","(34.14209548387097, -118.08959112903226)",36.136333
17,Clearwater at South Bay,"""3210 Sepulveda Blvd","(34.132828939491155, -118.47984208050974)",7.572114
18,Atria Tarzana,"""5325 Etiwanda Ave","(34.167148, -118.53090460606062)",6.369333
19,Brookdale Uptown Whittier,"""13250 Philadelphia St","(33.979007, -118.034555)",47.529062

In [ ]:
distance = calculate_distance(school_location['Coordinate'][0], retirement_location['Coordinate'][0])

45.598084519234426